*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM sans", sans-serif;

  
}

header{
display: flex;
flex-direction: column;
align-items: center;
}   

.logo {
  width: 50.48px    ;
  height: 46.29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
   margin: 0;


  text-align: center;

  color: #d04f4f;
}

/* Recherche */

.main-search {
  width: 1240px;
  height: 69px;
  background-color: #e7e7e7;
  border: none;
  padding-left: 30px;
 font-size: 18px;
 border-radius: 5px;
 
}

.main-search:focus {
  outline: none;
}

/* input search */

.ingredients_input{
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #3282F7;
  border: none;
  font-size: 18px;
  color: #fff;
  padding-left: 22px;
}

.ingredients_input::placeholder {
  color: white;
  opacity: 1;
}

.device_input{
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #68D9A4;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
  padding-left: 10px;
}
.device_input::placeholder {
  color: white;
  opacity: 1;
}

.ustensiles_input{
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #ED6454;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
  padding-left: 10px;
}
.ustensiles_input::placeholder {
  color: white;
  opacity: 1;
}


/* cards */

.recipes-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 1240px;
  justify-content: space-between;
  row-gap: 30px;
}

.card{
    width: 380px;
    height: 364px;
    border-radius: 5px;
    bottom: -21.33%;
    background: #E7E7E7;
    border-radius: 5px;
    margin-top: 30px;
}

img{
    width: 380px;
    height: 200px;
    border-radius: 5px 0;
    background-color: #C7BEBE;  
}

h2{
  margin:0;
  font-size: 18px;
}

.time-container{
display: flex;
align-items: center;
column-gap: 7px;
}

.time {
  width: 20px;
  height: 20px;
  background-color: #E7E7E7;
 
}

.title-time{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
}
.duration{
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
   margin: 0;
}
.info{
  display: flex;
  flex-direction: row;
  align-items: center ;
  margin-top: 0;
  column-gap: 50px;
}

.ingredients{
  width: 30%;
  margin-left: 20px;
  font-size: 12px;
  color: black;
  line-height :14.4px;
}

.description{
  width: 40%;
  margin-left: 20px;
  font-size: 12px;
  color: black;
  line-height: 12px;
 
}

/* gestion de la liste des tags */

.input-sort{
  display: flex;
  margin-top: 30px;
  width: 1240px;
  background-color: sandybrown;
  column-gap: 20px;
}

.tags-container {
 overflow-x: hidden;
  background-color: pink;
}

#ingredient-tags{
  display: none;
  background-color: #C7BEBE;
  max-height: 300px;

}

.tags-ul{
columns: 3;
overflow: auto;
}


.ingredient-tag{
list-style: none;
width: 150px;
break-inside: avoid;
}
