* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 50.48px;
  height: 46.29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  margin: 0;

  text-align: center;

  color: #d04f4f;
}

/* Recherche */

.main-search {
  width: 1240px;
  height: 69px;
  background-color: #e7e7e7;
  border: none;
  padding-left: 30px;
  font-size: 18px;
  border-radius: 5px;
}

.main-search:focus {
  outline: none;
}

/* input search */
.input_container{
  display: flex;
  align-items: center;

  border-radius: 5px;
    height: 69px;
}

.input_container-blue{
  background: #3282f7; 
}

.input_container-green{
  background: #68d9a4; 
}

.input_container-red{
  background: #ed6454; 
}

.arrow{
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: none;
}

.ingredients_input {
  outline: none;
  width: 130px;
  background: none;
  border: none;
  font-size: 18px;
  color: #fff;
  padding-left: 22px;
}
.appliance_input {
  background: none;
  outline: none;
  width: 130px;
  border: none;
  font-size: 18px;
  color: #fff;
  padding-left: 22px;
}
.ustensils_input {
  outline: none;
  width: 130px;
  background: none;
  border: none;
  font-size: 18px;
  color: #fff;
  padding-left: 22px;
}

.ingredients_input::placeholder {
  color: white;
  opacity: 1;
}
.appliance_input::placeholder {
  color: white;
  opacity: 1;
}
.ustensils_input::placeholder {
  color: white;
  opacity: 1;
}

.device_input {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #68d9a4;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
  padding-left: 10px;
}
.device_input::placeholder {
  color: white;
  opacity: 1;
}

.ustensiles_input {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #ed6454;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
  padding-left: 10px;
}
.ustensiles_input::placeholder {
  color: white;
  opacity: 1;
}

/* cards */

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 1240px;
  justify-content: space-between;
  row-gap: 30px;
}

.card {
  width: 380px;
  height: 364px;
  border-radius: 5px;
  bottom: -21.33%;
  background: #e7e7e7;
  border-radius: 5px;
  margin-top: 30px;
}

img {
  width: 380px;
  height: 200px;
  border-radius: 5px 0;
  background-color: #c7bebe;
}

h2 {
  margin: 0;
  font-size: 18px;
  /* width: 200px; */
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 225px;
  overflow: hidden;
}

.time-container {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.time {
  width: 20px;
  height: 20px;
  background-color: #e7e7e7;
}

.title-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
}
.duration {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
  margin: 0;
}
.info {
  display: flex;
  flex-direction: row;
  /* align-items: center ; */
  margin-top: 0;
  column-gap: 50px;
  overflow: hidden;
  /* white-space: nowrap;  */
  text-overflow: ellipsis;
}

.ingredients {
  width: 35%;
  margin-left: 20px;
  font-size: 12px;
  color: black;
  height: 100px;
  line-height: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  width: 40%;
  margin-left: 20px;
  font-size: 12px;
  color: black;
  line-height: 12px;

  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  height: 98px;

  display: flex;
  flex-direction: column;
  /* ellipsis optimized text bloc */
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  /* overflow: nowrap;
  text-overflow: ellipsis; */
}

/* gestion de la liste des tags */

.input-sort {
  display: flex;
  margin-top: 15px;
  width: 1240px;
  column-gap: 20px;
}

.tags-container {
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 10px;
  background: #3282f7;
}

::-webkit-scrollbar-thumb{
  background-color: white;
  box-shadow: 0;
  border-radius: 5px;
}


.closeIcon {
  width: 20px;
  height: 20px;
  background: none;
  margin-left: 10px;
}

#ingredient-tags {
  display: none;
  background-color: #3282f7;
  max-height: 300px;
}

#appliance-tags {
  display: none;
  background-color: #68d9a4;
  max-height: 300px;
  padding: 10px;
}

#ustensil-tags {
  display: none;
  background-color: #ed6454;
  max-height: 300px;
  padding: 10px;
}

#tags {
  width: 100%;
  display: flex;
  column-gap: 20px;
}

.tag {
  /* display: block; */
  height: 37px;
  color: white;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 0;
  overflow: hidden;
  /* align text verticaly */
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.blueTag {
  background-color: #3282f7;
}

.greenTag {
  background-color: #68d9a4;
}

.redTag {
  background-color: #ed6454;
}

.tags-ul {
  columns: 3;
  overflow: auto;
  background-color: #3282f7;
  color: white;
  padding: 10px;
}

.tags-ul-appliance {
  columns: 3;
  overflow: auto;
  background-color: #68d9a4;
  color: white;
}

.tags-ul-ustensil {
  columns: 3;
  overflow: auto;
  background-color: #ed6454;
  color: white;
}

.ingredient-tag {
  list-style: none;
  width: 150px;
  break-inside: avoid;
}
